.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    font-size: 28px;
    font-weight: 800;
    color: #FF4C24;
    letter-spacing: -1px;
}

.navbar .logo span {
    color: #49557E;
}
.navbar .profile{
    width: 40px;
}