.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    transform: scale(1.6);
    border-radius: 10px;
}
.navbar .profile{
    width: 40px;
}